
<!--componente navbar-->
<app-navbar></app-navbar> <!--Serve para inserir o conteúdo do componente navbar.-->

<div class="m-4"> <!-- margem superior, inferior, direita e esquerda. -->
  <div class="card">
    <div class="card-body">
      <!--Componentes renderizados através de rotas.-->
      <router-outlet></router-outlet> <!--Tag que serve para quando acessar uma rota, e esta renderizar um componente; ela exibirá o componente aqui. -->
    </div>

  </div>

</div>


<h1>Projeto Angular!</h1>

